<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".AlarmApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alarmjinxuan">
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.Alarmjinxuan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.permission.PermissionSettingActivity"
            android:exported="true"
            android:theme="@style/Theme.Alarmjinxuan" />
        <activity
            android:name=".view.ring.RingActivity"
            android:directBootAware="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <activity
            android:name=".view.vibration.VibrationActivity"
            android:exported="false" />
        <activity
            android:name=".view.alarmClockRing.AlarmClockRingActivity"
            android:exported="false" />
        <activity
            android:name=".view.addAlarm.AddAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".view.addCity.AddCityActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Alarmjinxuan" />


        <service
            android:name=".service.TimerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
        <service
            android:name=".service.AlarmService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" /> <!-- <service -->
        <!-- android:name=".service.StopWatchService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false" -->
        <!-- android:foregroundServiceType="mediaPlayback" /> -->
        <receiver
            android:name=".receiver.TimerReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_START" />
                <action android:name="ACTION_PAUSE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_ALARM_TRIGGER" />
                <action android:name="ACTION_DISMISS" />
                <action android:name="ACTION_SNOOZE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.BootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>